.navbar-fixed img {
  width: 6rem;
}
.slider h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 4rem;
}
.slider h5 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}
.about h3 {
  margin-bottom: 50px;
}
.about img {
  width: 100%;
  border-radius: 0.8;
}
.parallax-container {
  height: 200%;
}

.clients h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.clients img {
  margin-bottom: 50px;
}

.parallax img {
  filter: grayscale(1);
  opacity: 0.5 !important;
}

.clients img {
  max-width: 150px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

section,
footer {
  padding: 20px 0;
}

.contact h5 {
  margin-bottom: 2rem;
}
footer img {
  width: 200px;
}
footer p {
  margin-top: -20px;
}
